/*=========VARIABLES==========*/
:root {
    --prymary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --prymary-text-color: 67 68 85;;
    --accent-color: 64 75 191;
    --body-bg-color: 255 255 255;
    --secondary-body-bg-color: 46 47 66;

}
/*=========/VARIABLES==========*/

/*=========COMMON STYLES==========*/

body {
   font-family: var(--prymary-font);
   color: rgb(var(--prymary-text-color));
   background-color: rgb(var(--body-bg-color)); 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;  
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.accent-color {
    color: rgb(var(--accent-color));
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: rgb(46, 47, 66);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*=========/COMMON STYLES==========*/

/*=========HEADER==========*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;

}

.main-nav {
    display: flex;
    align-items: center;
    
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.main-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    color: rgb(77 90 229);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.span-one {
    color: rgb(46, 47, 66);
}


.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(46, 47, 66);
    padding: 24px 0;
      
}

.menu-link:hover,
.menu-link:focus {
    color: rgb(var(--accent-color));
}
.menu-link:active {
    color: rgb(var(--accent-color));
}

.main-address{
    font-style: normal;
    margin-left: auto;
}

.address-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.address-link:hover,
.address-link:focus {
    color: rgb(var(--accent-color));
}
/*=========/HEADER==========*/

/*=========HERO SECTION==========*/
.hero-section {
    background-color: rgb(var(--secondary-body-bg-color));
    padding: 188px 0;
}


.main-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgb(255 255 255);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--prymary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgb(255 255 255);        
    background: rgb(77 90 229);
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background: rgb(var(--accent-color));
}

/*=========/HERO SECTION==========*/

/*=========ABOUT SECTION==========*/
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: rgb(46, 47, 66);
}
.about-title {
    margin-bottom: 8px;

}
.about {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(var(--secondary-text-color));
}
.description-list {
    display: flex;
    gap: 24px;
    
}
.description-item {
    width: calc((100% - 3* 24px)/4);
}

/*=========/ABOUT SECTION==========*/

/*=========OUR TEAM SECTION==========*/
.our-team-title {
    margin-bottom: 72px;
}
.section-team {
    background: rgb(244 244 253);
}
.team-list {
    display: flex;
    gap: 24px;
   
}
.team-item {
    background-color: rgb(var(--body-bg-color));
    width: calc((100% - 3*24px)/4);
    border-radius: 0 0 4px 4px;
    
}
.name-worker {
    padding: 32px 0;
}
.team-title {
    margin-bottom: 8px;
    text-align: center;
}
.prg-team {
    text-align: center;
}

/*=========/OUR TEAM SECTION==========*/

/*=========PORTFOLIO SECTION==========*/
.portfolio-main-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}
.portfolio-item {
    width: calc((100% - 2*24px)/3);
    

}
.servises-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.portfolio-title {
    margin-bottom: 8px;

}
/*=========/PORTFOLIO SECTION==========*/

/*=========FOOTER==========*/
.page-footer {
    background-color: rgb(var(--secondary-body-bg-color));
    padding: 100px 0;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.span-two {
    color: rgb(244 244 253);
}
.footer-prg {
    color: rgb(244 244 253);
    max-width: 264px;
    
}

/*=========/FOOTER==========*/

